# Python
*.pyc
__pycache__/
venvs/
*.sqlite3

# Django
*.log
*.pot
*.pyc
media/

# --- ADDED FOR ML MODELS ---
# Ignore generated ML model files and the directory
backend/insights_models/
backend/ai_engine/ai_utils/data/
*.pkl
# --- END ML MODELS ---